footer {
    margin-top: 5em;
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

footer p {
    clear: left;
}

.list-unstyled {
    padding-left: 0;
    list-style-type: none;
}

/* contacts */
span.prefix {
    color: darkgray;
}

[v-cloak] {
    display: none;
}
