<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/img/manifest.json">
    <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/lib/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/lib/dropzone/4.3.0/dropzone.min.css">
    <link rel="stylesheet" href="/assets/lib/dropzone/4.3.0/basic.min.css">
    <link rel="stylesheet" href="/assets/lib/sweetalert/1.1.3/sweetalert.css">
    <link rel="stylesheet" href="/assets/lib/selectize/0.12.1/selectize.default.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <title>Mailman</title>
</head>
<body>

<br>
<div class="container" id="index" v-cloak>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <form action="#" class="form-horizontal" v-on:submit.prevent>
                <fieldset>
                    <legend>Mailman</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">{{i18n.subject}}</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputEmail"
                                   autocomplete="off" v-model="subject">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="to" class="col-lg-2 control-label">{{i18n.to}}</label>
                        <div class="col-lg-10">
                            <select name="to" id="to"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cc" class="col-lg-2 control-label">{{i18n.cc}}</label>
                        <div class="col-lg-10">
                            <select name="cc" id="cc"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select" class="col-lg-2 control-label">{{i18n.from}}</label>
                        <div class="col-lg-4">
                            <select class="form-control" id="select" v-model="from">
                                <option v-for="email in emails" v-bind:value="email">{{email}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textArea" class="col-lg-2 control-label">{{i18n.body}}</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="15" id="textArea" v-model="body"></textarea>
                            <span class="help-block">{{i18n.support_markdown_syntax}}</span>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" v-model="priority">{{i18n.high_priority}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-default" v-on:click="preview">{{i18n.preview}}</button>
                            <button type="submit" class="btn btn-primary pull-right" v-on:click="send">{{i18n.send}}
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <span class="label label-primary" v-bind:class="{ 'hidden':previewLinkIsHidden }"><a
                                    href="/api/preview" target="_blank"
                                    style="color: #ffffff;">{{i18n.go_to_preview}}</a></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-7">
            <form class="dropzone" id="attachment"></form>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <ul class="list-unstyled">
                        <li><a href="/index.html">{{i18n.index}}</a></li>
                        <li><a href="/setting.html">{{i18n.setting}}</a></li>
                        <li><a href="/log.html" target="_blank">{{i18n.log}}</a></li>
                    </ul>
                    <p>
                        <a href="https://github.com/xuqingfeng/mailman" target="_blank">
                            <img src="https://img.shields.io/github/stars/xuqingfeng/mailman.svg?style=flat-square&label=Star"
                                 alt="star">
                        </a>
                        <a href="https://github.com/xuqingfeng/mailman" target="_blank">
                            <img src="https://img.shields.io/github/forks/xuqingfeng/mailman.svg?style=flat-square&label=Fork"
                                 alt="fork">
                        </a>
                        <a href="https://github.com/xuqingfeng/mailman/issues" target="_blank">
                            <img src="https://img.shields.io/github/issues/xuqingfeng/mailman.svg?style=flat-square"
                                 alt="issues">
                        </a>
                    </p>
                    <p>
                        <img src="https://img.shields.io/github/license/xuqingfeng/mailman.svg?style=flat-square"
                             alt="license">
                    </p>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </footer>
</div>

<script type="text/javascript" src="/assets/lib/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="/assets/lib/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/lib/vue/1.0.15/vue.min.js"></script>
<script type="text/javascript" src="/assets/lib/sweetalert/1.1.3/sweetalert.min.js"></script>
<script type="text/javascript" src="/assets/lib/i18next/2.5.1/i18next.min.js"></script>
<script type="text/javascript" src="/assets/lib/dropzone/4.3.0/dropzone.min.js"></script>
<script type="text/javascript" src="/assets/lib/selectize/0.12.1/selectize.min.js"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/index.js"></script>
</body>
</html>